@theme {
  --color-black: #111111;
  --color-white: #ffffff;

  /* Primary */
  --color-primary-100: #f5fcf9;
  --color-primary-200: #e0f6ec;
  --color-primary-300: #bce6d3;
  --color-primary-400: #a2ddc4;
  --color-primary-500: #8bd4b4;
  --color-primary-600: #72c6a3;
  --color-primary-700: #5db692;
  --color-primary-800: #499f7e;
  --color-primary-900: #388768;

  /* Neutral */
  --color-neutral-100: #f2f4f5;
  --color-neutral-200: #e8eaec;
  --color-neutral-300: #dde0e3;
  --color-neutral-400: #cfd3d7;
  --color-neutral-500: #c1c6cb;
  --color-neutral-600: #aeb4ba;
  --color-neutral-700: #949ba2;
  --color-neutral-800: #747c84;
  --color-neutral-900: #555e67;

  /* Semantic */
  --color-semantic-100: #ffeeee;
  --color-semantic-200: #ffddde;
  --color-semantic-300: #ffc5ca;
  --color-semantic-400: #ff90a8;
  --color-semantic-500: #ff7d88;
  --color-semantic-600: #f56875;
  --color-semantic-700: #e65360;
  --color-semantic-800: #cc414d;
  --color-semantic-900: #b33843;
}

@layer utilities {
  .typo-headline-1 {
    @apply text-[24px] font-bold leading-[120%];
  }

  .typo-headline-2 {
    @apply text-[24px] font-semibold leading-[120%];
  }

  .typo-headline-3 {
    @apply text-[24px] font-medium leading-[120%];
  }

  .typo-headline-4 {
    @apply text-[24px] font-normal leading-[120%];
  }

  .typo-title-1 {
    @apply text-[20px] font-bold leading-[120%];
  }

  .typo-title-2 {
    @apply text-[20px] font-semibold leading-[120%];
  }

  .typo-title-3 {
    @apply text-[20px] font-medium leading-[120%];
  }

  .typo-title-4 {
    @apply text-[20px] font-normal leading-[120%];
  }

  .typo-subtitle-1 {
    @apply text-[18px] font-semibold leading-[120%];
  }

  .typo-subtitle-2 {
    @apply text-[18px] font-medium leading-[120%];
  }

  .typo-subtitle-3 {
    @apply text-[18px] font-normal leading-[120%];
  }

  .typo-body-1 {
    @apply text-[16px] font-semibold leading-[120%];
  }

  .typo-body-2 {
    @apply text-[16px] font-medium leading-[120%];
  }

  .typo-body-3 {
    @apply text-[16px] font-normal leading-[120%];
  }

  .typo-caption-1 {
    @apply text-[14px] font-semibold leading-[120%];
  }

  .typo-caption-2 {
    @apply text-[14px] font-medium leading-[120%];
  }

  .typo-caption-3 {
    @apply text-[14px] font-normal leading-[120%];
  }

  .typo-small-1 {
    @apply text-[12px] font-medium leading-[120%];
  }

  .typo-small-2 {
    @apply text-[12px] font-semibold leading-[120%];
  }
}
