.indicator_section {
  grid-column: 3;
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 200px;
  max-width: 100%;
}

.steps,
.conditions {
  margin: 0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.steps {
  padding: 16px 24px;
  background: var(--color-neutral-100);
}

.step {
  position: relative;
  display: flex;
  gap: 8px;
  min-height: 140px;
  color: var(--color-neutral-600);
}

.step:last-child {
  min-height: 60px;
}

.step:not(:last-child)::before {
  content: '';
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 11px;
  width: 2px;
  background: var(--color-neutral-400);
}

.step[aria-current='step']::before {
  background: linear-gradient(var(--color-primary-800) 50%, var(--color-neutral-400) 50%);
}

.step_number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--color-neutral-400);
  color: var(--color-white);
}

.step[aria-current='step'] .step_number {
  background: var(--color-primary-800);
}

.step[aria-current='step'] .step_title {
  color: var(--color-primary-900);
}

.step[aria-current='step'] .step_description {
  color: var(--color-neutral-800);
}

.step_title {
  margin: 3px 0 6px;
}

.step_description {
  margin: 0;
}

.conditions {
  padding: 16px;
  background: var(--color-primary-100);
  color: var(--color-neutral-900);
}

.conditions_title {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 0 10px;
}

.conditions_title svg {
  flex-shrink: 0;
  color: var(--color-primary-800);
}

.condition_list {
  display: grid;
  gap: 10px;
  margin: 0;
}

.condition {
  padding: 8px 12px;
  border: 1px solid var(--color-primary-300);
  border-radius: 8px;
  background: var(--color-white);
  height: 62px;
}

.condition dd {
  margin: 8px 0 0;
  color: var(--color-primary-900);
  font-size: 16px;
}

@container (max-width: 1100px) {
  .indicator_section {
    grid-column: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@container (max-width: 480px) {
  .indicator_section {
    grid-template-columns: minmax(0, 1fr);
  }
}
